h1{
    text-align: center;
    color: white
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: "imagem/fundo.jpg";
}
#box{
    width: 278px;
    border: 3px;
    background-color:black ;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
}
div{
    background-color:black(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
}
button{
    background-color: white;
    border: none;
    padding: 20px;
    width: 100%;
    border-radius: 85px;
    color: black;
    font-size: 23px;

}
button:hover{
    background-color: purple;
    cursor: pointer;
}
img{
    width: 38px;
}